body {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

.App {
  text-align: center; }

.hidden {
  display: none; }

.visible {
  display: block; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

@keyframes hover {
  from {
    transform: translate(0, 0); }
  to {
    transform: translate(0, 2rem); } }

/*=========Home======================*/
.container_home-search-btn {
  padding-top: 25vh; }

.search-btn_home {
  animation: hover infinite 2s ease-in-out alternate-reverse; }

.searchbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; }

.searchbox.visible {
  display: block; }

.search-input {
  position: relative;
  background: none;
  border: none;
  border-radius: 1px;
  border-bottom: solid 2px #A380CB;
  outline: none;
  color: #A380CB;
  text-shadow: 0 0 0 #EBEBEB;
  -webkit-text-fill-color: transparent;
  width: 80%;
  height: initial;
  font-size: 2rem;
  margin-top: 45vh;
  padding-bottom: 4px; }

.search-input:-webkit-input-placeholder {
  color: #d2d2d2; }

.search-input:-moz-placeholder {
  color: #d2d2d2; }

.search-input:-ms-input-placeholder {
  color: #d2d2d2; }

.search-input:focus {
  border: none;
  border-bottom: solid 2px #A380CB; }

.modal-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6); }

.search-btn {
  cursor: pointer;
  animation: hover 2s alternate infinite ease-in-out;
  width: 30vh;
  position: absolute;
  top: 25vh;
  left: 2vw; }

@media (min-width: 820px) {
  .search-btn {
    left: 18vw; } }

.articles {
  padding: 10px 10vw; }

.articles-ul {
  list-style: none;
  margin: 0 auto;
  padding: 0; }

.article {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  margin-top: 30px; }

.article-title {
  background: #EBEBEB;
  color: #715497;
  margin-top: 0;
  padding: 10px 15px;
  text-align: left; }

.article-extract {
  padding: 20px; }
